@model IEnumerable<ClinicSystemTest.Models.ListAllAppointment>

@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of User</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>

                <td>
                     <form method="post" asp-action="book" asp-route-id="@item.AppId" asp-route-isReserved="@item.IsReserved">
                    @if (item.IsReserved)
                    {
                    <input class="button" type="submit" value="Un Book" />
                    }
                    else
                    {
                    <input class="button" type="submit" value="Book" />
                    }
                    </form>

                  @*  <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="book" asp-route-id="@item.AppointmentId">book</a>
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>