@model IEnumerable<ClinicSystemTest.Entities.Doctor>

@{
    ViewData["Title"] = "ListDoctors";
}

<h1>List Doctors</h1>

&nbsp;
<table class="table">
    <thead>
        <tr class="table-dark table-active">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorUser)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorUser.Email)
            </td>
            <td>
                    <a class="btn btn-dark"  asp-action="DeleteDoctor" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
&nbsp;
<p>
    <a class="btn btn-info" asp-action="AddDoctor">Add Doctor</a>&nbsp;
    <a class="btn btn-dark" asp-action="Index">Back to List</a>&nbsp;
</p>
